body {
	padding: 3px;
	font: 11px/14px 'Open Sans', arial, sans-serif;
	margin: 0;
	color: #fff;
	height: 0;
	min-height: 0;
}

#header {
	height: 50px;
	width: 1190px;
	margin: 0 auto;
}

.logo {
	background: url('../themes/Default/images/logo.png') no-repeat;
}

html {
	background: #111314;
	height: 100%;
}

#dashboard-container {
	padding-top: 2px;
	margin: 0 auto;
}

.widgetbox-s {
	width: 230px;
	height: 230px;
	background: #232526;
	margin: 0 3px 3px 0;
}

#dashboard-wrapper {
	display: inline-block;
	position: relative;
}

.widgetbox-l {
	width: 1162px;
	height: 230px;
	/*position: absolute;*/
	background: #232526;
	margin: 0 3px 3px 0;
}

.widgetbox-s>header, .widgetbox-l>header {
	border-bottom: 1px solid #151617;
	border-top: 1px solid #323434;
	height: 17px;
	overflow: hidden;
	padding: 10px 15px 11px;
	line-height: 100%;
}

.widgetbox-s>header>section, .widgetbox-l>header>section  {
	float: left;
	color: #707275;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 3px;
	text-shadow: 0 -1px 1px #000;
}

.widgetbox-s>section, .widgetbox-l>section  {
	border-top: 1px solid #303334;
	border-bottom: 1px solid #151617;
	padding: 0 15px;
	color: #707275;
	font-size: 12px;
}

section.widgetbox-s-body {
	 height:189px;
}

.widgetbox-inner{
}

article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary
	{
	display: block;
}

.sortable>div {
	float: left;
}

.sortable .handle:hover {
    cursor: pointer;
}
.sortable .handle.ui-sortable-helper{
    cursor: move;
}
/* Widget Text Styling */
.t-size-x60 {
	font-size: 60px;
}

.t-size-x30 {
	font-size: 26px;
	line-height:36px;
	padding:0;
	margin:0;
}

.t-left-block {
	float: left;
	display: block;
}

.t-main {
	color: #D3D4D4;
}

h1, h2, h3, h4, h5 {
	padding: 0 0 15px;
	margin: 0;
}

img {
	vertical-align:-10px;
}
/* Reset */
.clear {clear:both; font-size:0; height:0; line-height:0;}
